body {
background: radial-gradient(circle, #5c5b5b, #000000);
color:white;
}

.box {
  display: block;
  margin: 30 auto;
    box-sizing: border-box;
    height: 600px;
    width: 1080px;
    right: 250px;
    margin: 70 auto;
    background-color: #000000;
    border-radius: 50px;
    padding: 50px 20px 20px 20px;
    position: absolute;
 
}



.box::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: linear-gradient(90deg, rgb(255, 255, 255), rgb(0, 0, 0), rgb(255, 255, 255), rgb(0, 0, 0), rgb(255, 255, 255), rgb(0, 0, 0), rgb(255, 255, 255));
  background-size: 400%;
  border-radius: inherit;
  z-index: -1;
  animation: correr 15s linear infinite;
}

.box::after {
  content: "";
  position: absolute;
  inset: 2px;
  background: inherit;
  border-radius: inherit;
  z-index: -1;
}

@keyframes correr {
  0% { background-position: 0% 50%; }
  100% { background-position: 400% 50%; }
}

.box h1 {
  transition: transform 0.3s ease; 
  cursor: pointer;
}

.box h1:hover {
  transform: scale(1.1);
}


.box h1 {
   text-align: center;
   font-size: 50px;
}

.box h2 {
  text-align: center;
   font-size: 30px;
}

.box button{
display: block;
  margin: 80 auto;
  font-size: 40px;
  border-radius: 15px;
  padding: 10px 20px;
  background-color: rgb(46, 112, 255);
  text-shadow: white;
  color: white;;
  border: none;
}

.box button {
  transition: transform 0.3s ease; 
  cursor: pointer;
}

.box button:hover {
  transform: scale(1.1);
}

.box h3 {
 text-align: center;
   font-size: 20px;
}

.box h2 {
  transition: transform 0.3s ease; 
  cursor: pointer;
}

.box h2:hover {
  transform: scale(1.1);
}

.box h3 {
  transition: transform 0.3s ease; 
  cursor: pointer;
}

.box h3:hover {
  transform: scale(1.1);
}